---
layout: layouts/facile-base.njk
templateClass: tmpl-home
---

{# Most pages use this to display the navigation bar #}

<div class="content-container">
  <div class="row g-4">
    <div class="col-lg-4 col-md-5">
      <div class="modern-card sticky-nav">
        <div class="modern-card-header">
          Contents
        </div>
        <div class="modern-card-body">
          {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-7">
      <div class="modern-card">
        <div class="modern-card-body">
          {{ content | safe }}
        </div>
      </div>    
    </div>
  </div>
</div>
