---
layout: layouts/facile-base.njk
templateClass: tmpl-home
---

{# Most pages use this to display the navigation bar #}

<div class="content-container">
  <div class="row">
    <div class="col-sm-3">
      <div class="modern-card">
        <div class="modern-card-header">
          Contents
        </div>
        <div class="modern-card-body">
          {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="modern-card">
        <div class="modern-card-body">
          {{ content | safe }}
        </div>
      </div>    
    </div>
  </div>
</div>
